<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../dist/material.min.css">
    <script src="../../dist/material.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div >
    <div id="head-up-w">
        <div id="head-up">
            <div id="head-in">
                <img src="../../img/profile.png">
                <h1>RADICUT</h1>
            </div>
            <p id="version"></p>
        </div>
    </div>
    <p id="prg-msg">
        <span>アプリケーションを初期化しています...</span>
    </p>
    <div id="progress" class="mdl-progress mdl-js-progress mdl-shadow--6dp"></div>
</div>
<script src="app.js"></script>
</body>
</html>