<% include ../common/_head_template.ejs %>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">5/8(&#x6C34;)</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right optional-btn" id="search-btn">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
                </div>
            </div>
            <button id="btn-date" class="mdl-button mdl-js-button mdl-button--icon optional-btn">
                <i class="material-icons">date_range</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                <li class="mdl-menu__item">5/4(&#x6708;)</li>
                <li class="mdl-menu__item">5/5(&#x706B;)</li>
                <li class="mdl-menu__item">5/6(&#x6C34;)</li>
                <li disabled class="mdl-menu__item">5/7(&#x6728;)</li>
                <li class="mdl-menu__item">5/8(&#x91D1;)</li>
                <li class="mdl-menu__item">5/9(&#x571F;)</li>
                <li class="mdl-menu__item">5/10(&#x65E5;)</li>
            </ul>
            <button id="radio-menu" class="mdl-button mdl-js-button mdl-button--icon optional-btn">
                <i class="material-icons">radio</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="radio-menu">
                <li class="mdl-menu__item">TBS&#x30E9;&#x30B8;&#x30AA;</li>
                <li class="mdl-menu__item">&#x6587;&#x5316;&#x653E;&#x9001;</li>
                <li class="mdl-menu__item">&#x30CB;&#x30C3;&#x30DD;&#x30F3;&#x653E;&#x9001;</li>
                <li class="mdl-menu__item">TOKYO FM</li>
                <li class="mdl-menu__item">J-WAVE</li>
                <li class="mdl-menu__item">NACK5</li>
                <li class="mdl-menu__item">InterFM</li>
            </ul>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect" id="header-2nd-row">
            <a href="#" class="mdl-layout__tab" id="TBS"><img src="https://radiko.jp/v2/static/station/logo/TBS/lrtrim/224x100.png" alt="TBS&#x30E9;&#x30B8;&#x30AA;"></a><a href="#" class="mdl-layout__tab" id="QRR"><img src="https://radiko.jp/v2/static/station/logo/QRR/lrtrim/224x100.png" alt="&#x6587;&#x5316;&#x653E;&#x9001;"></a><a href="#" class="mdl-layout__tab" id="LFR"><img src="https://radiko.jp/v2/static/station/logo/LFR/lrtrim/224x100.png" alt="&#x30CB;&#x30C3;&#x30DD;&#x30F3;&#x653E;&#x9001;"></a><a href="#" class="mdl-layout__tab" id="RN1"><img src="https://radiko.jp/v2/static/station/logo/RN1/lrtrim/224x100.png" alt="&#x30E9;&#x30B8;&#x30AA;NIKKEI&#x7B2C;1 "></a><a href="#" class="mdl-layout__tab" id="RN2"><img src="https://radiko.jp/v2/static/station/logo/RN2/lrtrim/224x100.png" alt="&#x30E9;&#x30B8;&#x30AA;NIKKEI&#x7B2C;2"></a><a href="#" class="mdl-layout__tab" id="INT"><img src="https://radiko.jp/v2/static/station/logo/INT/lrtrim/224x100.png" alt="InterFM897"></a><a href="#" class="mdl-layout__tab" id="FMT"><img src="https://radiko.jp/v2/static/station/logo/FMT/lrtrim/224x100.png" alt="TOKYO FM"></a><a href="#" class="mdl-layout__tab" id="FMJ"><img src="https://radiko.jp/v2/static/station/logo/FMJ/lrtrim/224x100.png" alt="J-WAVE"></a><a href="#" class="mdl-layout__tab" id="JORF"><img src="https://radiko.jp/v2/static/station/logo/JORF/lrtrim/224x100.png" alt="&#x30E9;&#x30B8;&#x30AA;&#x65E5;&#x672C;"></a><a href="#" class="mdl-layout__tab" id="BAYFM78"><img src="https://radiko.jp/v2/static/station/logo/BAYFM78/lrtrim/224x100.png" alt="bayfm78"></a><a href="#" class="mdl-layout__tab" id="NACK5"><img src="https://radiko.jp/v2/static/station/logo/NACK5/lrtrim/224x100.png" alt="NACK5"></a><a href="#" class="mdl-layout__tab" id="YFM"><img src="https://radiko.jp/v2/static/station/logo/YFM/lrtrim/224x100.png" alt="&#xFF26;&#xFF2D;&#x30E8;&#x30B3;&#x30CF;&#x30DE;"></a><a href="#" class="mdl-layout__tab" id="HOUSOU-DAIGAKU"><img src="https://radiko.jp/v2/static/station/logo/HOUSOU-DAIGAKU/lrtrim/224x100.png" alt="&#x653E;&#x9001;&#x5927;&#x5B66;"></a><a href="#" class="mdl-layout__tab" id="JOAK"><img src="https://radiko.jp/v2/static/station/logo/JOAK/lrtrim/224x100.png" alt="NHK&#x30E9;&#x30B8;&#x30AA;&#x7B2C;1&#xFF08;&#x6771;&#x4EAC;&#xFF09;"></a><a href="#" class="mdl-layout__tab" id="JOAB"><img src="https://radiko.jp/v2/static/station/logo/JOAB/lrtrim/224x100.png" alt="NHK&#x30E9;&#x30B8;&#x30AA;&#x7B2C;2"></a><a href="#" class="mdl-layout__tab" id="JOAK-FM"><img src="https://radiko.jp/v2/static/station/logo/JOAK-FM/lrtrim/224x100.png" alt="NHK-FM&#xFF08;&#x6771;&#x4EAC;&#xFF09;"></a></div>
    </header>
    <div class="mdl-layout__drawer">
        <header>

        </header>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href=""><i class="fas fa-table"></i>&#x30BF;&#x30A4;&#x30E0;&#x30C6;&#x30FC;&#x30D6;&#x30EB;</a>
            <a class="mdl-navigation__link" href=""><i class="fas fa-search"></i>&#x756A;&#x7D44;&#x691C;&#x7D22;</a>
            <a class="mdl-navigation__link" href=""><i class="fas fa-star"></i>&#x304A;&#x6C17;&#x306B;&#x5165;&#x308A;</a>
            <a class="mdl-navigation__link" href=""><i class="fas fa-cog"></i>&#x8A2D;&#x5B9A;</a>
            <a class="mdl-navigation__link" href=""><i class="fas fa-info-circle"></i>&#x30A2;&#x30D0;&#x30A6;&#x30C8;</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="mix-table">
            <div id="header-table-out">
                <span>
                    前日へ
                </span>
            </div>
            <div id="grid"></div>
            <div id="footer-table-out">
                <span>
                    翌日へ
                </span>
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-3">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-4">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-5">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-6">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
    </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script src="../../dist/xml2json.js"></script>
<% include ../common/_foot_template.ejs %>
</body></html>