@import "common";

.title-bar {
  display: none;//todo 画面遷移ごとにちらつくことになってしまう。ダウンロードの進捗を表すNTFも含めて、いち画面で管理すべきかもしれない。
  width: 100%;
  height: 24px;
  padding: 0 4px;
  background-color: $titleBarBlue;

  >div {
    float: right;
    height: 100%;
    width: fit-content;
    padding: 5px;
    float: right;
    display: flex;
    &:hover {
      background-color: #003245;
    }
    >img {
      height: 100%;
      width: auto;
      background-color: inherit;
    }
  }
}

.mdl-layout {
  overflow-y: hidden;
}

.mdl-layout__header {
  background-color: $primaryBlue;
  .mdl-layout__drawer-button {
    outline: 0;
  }
}

.mdl-layout__drawer {
  background: $primaryBlue;
  border-right: 1px solid darken($primaryBlue, 2%);
  header {
    height: 151px;
  }
  .mdl-navigation {
    .mdl-navigation__link {
      color: white;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0;
      opacity: .87;
      padding: 16px 40px;
      vertical-align: middle;
      i {
        font-size: 16px;
        margin-right: 24px;
      }
      &:hover {
        background: white;
        color: $primaryBlue;
      }
      &.current {
        cursor: default;
      }
    }
  }
}