$textBlack: rgba(0, 0, 0, .87);
$textGray: rgba(0, 0, 0, .54);

$primaryBlue:#00a7e9;
$secondaryBlue:#e2f4f9;
$backGray:#f2f2f2;
$columnWidth: 258px;

@mixin buttonInterval {
  margin-left: 8px;
}

@mixin centerAbs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin whitenHover {
  &:hover{
    background-color: rgba(255,255,255,.2);
  }
  .material-icons :hover{
    background: unset;
  }
}

@mixin scrollbarStyle($size:5px) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background-color: $secondaryBlue;
    border-radius: $size;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primaryBlue;
    border-radius: $size;
  }
}

@mixin forSearchDropDown{
  position: absolute;
  z-index: 100;
  left: 32px;
  display: none;
  width: 178px;
  min-height: unset;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: $backGray;
  >div {
    $height:28px;
    color: $textBlack;
    font-size: 14px;
    width: 100%;
    //height: $height;
    vertical-align: middle;
    text-align: left;
    line-height: $height;
    padding: 0 $height/2;
    cursor: pointer;
    &:hover {
      background: white;
    }
    &.key-focused {
      background: white;
    }
  }
}