@import "../../scss/common";
@import "../../scss/component";

$vertPad:48px;

.mdl-layout__content {
  padding-top: 24px;
  section {
    width: 100%;
    padding: $vertPad 72px;
    .mdl-card {
      width: unset;
      max-width: 1000px;
      padding: 28px 36px 8px 36px;
      margin: 0 auto;
      min-height: unset;
      h1 {
        font-size: 22px;
      }
    }
  }

  #task-list {
    button:focus{
      outline: 0;
    }
    h1 {
      padding-left: 32px;
    }
    .mdl-card {
      ul {
        list-style: none;
        padding: 16px 0;
        margin: 0;
        li {
          &#non-list {
            display: none;
            text-align: center;
            font-size: 16px;
            color: $primaryBlue;
            font-weight: bold;
          }
          padding: 16px 0;
          .wrapper {
            padding-left: 32px;
            display: flex;
            align-items: center;
            .prg-logo {
              height: 80px;
              width: auto;
              display: block;
              margin-right: 64px;
            }
            .main-row {
              display: flex;
              flex-grow: 100;
              height: 100%;
              align-items: center;
              .main-row-in {
                height: 100%;
                flex-grow: 100;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                position: relative;
                .prg-title {
                  font-size: 20px;
                  margin: 6px 0;
                }
                .prg-date {
                  font-size: 15px;
                }
                .mdl-progress {
                  margin-top: 16px;
                  width: 100%;
                  .progressbar {
                    width: 20%;
                  }
                }
                .stage {
                  position: absolute;
                  right: 0;
                  bottom: 4px;
                  color: $textGray;
                }
              }
              .cancel-btn {
                margin: 0 16px;
                color: $textGray;
              }
            }
          }
        }
      }
    }
  }
  #file-location {
    .mdl-card {
      flex-direction: row;
      align-items: center;
      padding: 8px 72px;
      h1 {
        width: fit-content;
        margin: 0 72px 0 0;
      }
      form {
        flex-grow: 100;
        margin-right: 36px;
        position: relative;
        .mdl-textfield {
          width: 100%;
          @include textField;
        }
        .mdl-button {
          right: 0;
          top: 50%;
          position: absolute;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.alert-minimalist {
  border-color: rgba(149, 149, 149, 0.3);
  border-radius: 3px;
  color: rgb(149, 149, 149);
  padding: 10px;

  >div {
    width: 100%;
    height: 100%;
    >img[data-notify="icon"] {
      height: 36px;
      width: auto;
      margin: 5.5px 12px;
      float: right;
    }

    >div {
      float: left;
      >span[data-notify="title"] {
        color: rgb(51, 51, 51);
        display: block;
        font-weight: bold;
      }
      >span[data-notify="message"] {
        font-size: 80%;
      }
    }
  }
}

.alert-minimalist.red {
  background: $secondaryRed;
}

.alert-minimalist.blue {
  background: $secondaryBlue;
}