@import "../../scss/common";
@import "../../scss/component";

body {
  @include ntf;
}

$vertPad:48px;

.mdl-layout__content {
  padding-top: 24px;
  section {
    @include updateMdl;
    width: 100%;
    padding: $vertPad 72px;
    .mdl-card {
      width: unset;
      max-width: 1000px;
      padding: 28px 36px 8px 36px;
      margin: 0 auto;
      min-height: unset;
      h1 {
        font-size: 22px;
      }
    }
  }

  @mixin btnInField{
    .mdl-button {
      right: 0;
      top: 50%;
      height: 28px;
      width: 28px;
      min-width: 28px;
      position: absolute;
      transform: translateY(-50%);
      color: $primaryBlue;
      &:focus {
        outline: 0;
      }
    }
  }

  @mixin field {
    .mdl-textfield__label:after {
      display: none;
    }
    .mdl-textfield__input {
      cursor: default;
    }
  }

  #task-list {
    button:focus{
      outline: 0;
    }
    h1 {
      padding-left: 32px;
    }
    .mdl-card {
      ul {
        list-style: none;
        padding: 16px 0;
        margin: 0;
        li {
          &#non-list {
            display: none;
            text-align: center;
            font-size: 16px;
            color: $primaryBlue;
            font-weight: bold;
          }
          padding: 16px 0;
          .wrapper {
            padding-left: 32px;
            display: flex;
            align-items: center;
            .prg-logo {
              height: 80px;
              width: auto;
              display: block;
              margin-right: 64px;
            }
            .main-row {
              display: flex;
              flex-grow: 100;
              height: 100%;
              align-items: center;
              .main-row-in {
                height: 100%;
                flex-grow: 100;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                position: relative;
                .prg-title {
                  font-size: 20px;
                  margin: 6px 0;
                }
                .prg-date {
                  font-size: 15px;
                }
                .mdl-progress {
                  margin-top: 16px;
                  width: 100%;
                  .progressbar {
                    width: 20%;
                  }
                }
                .stage {
                  position: absolute;
                  right: 0;
                  bottom: 6px;
                  color: $textGray;
                  text-align: right;
                  line-height: 16px;
                }
              }
              .cancel-btn {
                margin: 0 16px;
                color: $textGray;
              }
            }
          }
        }
      }
    }
  }
  #file-location {
    .card-w {
      display: flex;
      justify-content: center;
      max-width: 1000px;
      margin: 0 auto;
      .mdl-card {
        flex-grow: 100;
        flex-direction: row;
        align-items: center;
        padding: 8px 36px;
        margin-right: 72px;
        z-index: 0;
        h1 {
          width: fit-content;
          margin: 0 72px 0 32px;
        }
        form {
          flex-grow: 100;
          margin-right: 36px;
          position: relative;
          @include btnInField;
          .mdl-textfield {
            width: 100%;
            @include textField;
            @include field;
          }
        }
      }
      .mdl-button {

      }
    }
  }
  #config {
    .mdl-card {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 8px 36px;
      overflow: visible;
      >div {
        flex-grow: 2;
        display: flex;
        align-items: center;
        h1 {
          font-size: 18px;
          width: fit-content;
          margin-bottom: 0;
        }
        form {
          @include btnInField;
          flex-grow: 10;
          .mdl-textfield {
            width: unset;
            @include textField;
            @include field;
          }
        }
        >*:not(:last-child) {
          margin-right: 32px;
        }
        .mdl-menu__item {
          font-size: 16px;
        }
        .mdl-menu__item:disabled {
          cursor: default;
        }
      }
    }
  }
}