@import "../scss/common";

.mdl-layout__drawer {
  background: $primaryBlue;
  border-right: 1px solid darken($primaryBlue, 2%);
  header {
    height: 151px;
  }
  .mdl-navigation {
    .mdl-navigation__link {
      color: white;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0;
      opacity: .87;
      padding: 16px 40px;
      vertical-align: middle;
      i {
        font-size: 16px;
        margin-right: 24px;
      }
      &:hover {
        background: white;
        color: $primaryBlue;
      }
    }
  }
}

.mdl-layout__content {

}