@import "../../scss/common";
@import "../../scss/component";

@mixin center72 {
  display: flex;
  width: 100%;
  margin-top: 72px;
  justify-content: center;
}

.mdl-layout__content {
  width: 100%;
  height: 100%;
  background-color: $secondaryBlue;
  #first-row {
    @include center72;
    .mdl-card {
      $horizontalSmlMargin:24px;
      width: 80%;
      max-width: 1000px;
      flex-direction: row;
      align-items: center;
      padding: 24px 48px;
      height: fit-content;
      min-height: unset;
      overflow: visible;
      >form {
        margin-right: 48px;
        width: 7em;
        .mdl-textfield__input {
          padding: 4px 0 0 0;
        }
        .mdl-textfield__label:after {
          bottom: 12px;
        }
        &#text-form {
          flex-grow: 5;
          .mdl-textfield {
            width: 100%;
          }
        }
        &#date-form {
          margin-right: $horizontalSmlMargin;
        }
        &#date-form, &#end-form {
          .mdl-textfield {
            position: relative;
            .mdl-textfield__input {
              cursor: pointer;
            }
            .mdl-button {
              $size:28px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 4px;
              height: $size;
              width: $size;
              min-width: $size;
              color: $primaryBlue;
            }
          }
          #dp-ul {
            z-index: 10000;//999以上必要
          }
        }
        #suggest-drop-down {
          @include forSearchDropDown;
          left: 0;
          top: 50px;
          padding: 0;
        }
      }
      .text {
        margin-right: $horizontalSmlMargin;
        vertical-align: middle;
        align-items: center;
      }
      .btn {
        background: $primaryBlue;
        color: white;
        font-size: 18px;
        width: unset;
        border-radius: 2px;
        span {
          padding: 0 36px;
          i {
            margin-right: .5em;
          }
        }
      }
    }
  }

  #second-row {
    @include center72;
    .msg-group {
      display: none;
      h1 {
        font-size: 160px;
        color: $primaryBlue;
        text-align: center;
        margin-bottom: 32px;
      }
      p {
        text-align: center;
        font-size: 18px;
        color: $primaryBlue;
      }
    }

    #card-group {
      width: 100%;
      #card-group-in {
        display: flex;
        flex-wrap: wrap;
        padding: 0 24px 72px 24px;
        width: 100%;
        justify-content: center;
        .item {
          flex-direction: column;
          align-items: center;
          width: 300px;
          margin: 16px;
          z-index: 0;
          cursor: pointer;
          &.is-hovered {
            color: $textGray;
          }
          &.dummy {
            visibility: hidden;
          }
          &.cant-dl {
            background: rgba(255,255,255,.5);
            box-shadow: none;
            .prg-logo {
              filter: grayscale(50%) opacity(70%);
            }
          }
          .station-logo {
            height: 52px;
            width: 100%;
            text-align: center;
            img {
              height: 100%;
              width: auto;
            }
          }
          .prg-logo {
            width: 100%;
            height: auto;
            display: block;
          }
          .details {
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .prg-title {
              margin-bottom: 16px;
            }
            .prg-time {
              font-size: 16px;
              span {
                padding-right: 1em;
                font-size: 1.4rem;
              }
            }
            .prg-pfm {
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
      }

      #bottom-spinner {
        width: 100%;
        justify-content: center;
        height: 72px;
        display: none;
      }
    }
  }
}

.mdl-dialog {
  .hp {
    display: none;
  }
}