.mdl-layout__header {
  background-color: #00a7e9; }

.mdl-layout__drawer {
  background: #00a7e9;
  border-right: 1px solid #00a0df; }
  .mdl-layout__drawer header {
    height: 151px; }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    opacity: .87;
    padding: 16px 40px;
    vertical-align: middle; }
    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link i {
      font-size: 16px;
      margin-right: 24px; }
    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
      background: white;
      color: #00a7e9; }

.mdl-layout__content {
  width: 100%;
  height: 100%;
  background-color: #e2f4f9; }
  .mdl-layout__content #first-row {
    display: flex;
    width: 100%;
    margin-top: 72px;
    justify-content: center; }
    .mdl-layout__content #first-row .mdl-card {
      width: 80%;
      max-width: 1000px;
      flex-direction: row;
      align-items: center;
      padding: 24px 48px;
      height: fit-content;
      min-height: unset;
      overflow: visible; }
      .mdl-layout__content #first-row .mdl-card > form {
        margin-right: 48px;
        width: 7em; }
        .mdl-layout__content #first-row .mdl-card > form .mdl-textfield__input {
          padding: 4px 0 0 0; }
        .mdl-layout__content #first-row .mdl-card > form .mdl-textfield__label:after {
          bottom: 12px; }
        .mdl-layout__content #first-row .mdl-card > form#text-form {
          flex-grow: 5; }
          .mdl-layout__content #first-row .mdl-card > form#text-form .mdl-textfield {
            width: 100%; }
        .mdl-layout__content #first-row .mdl-card > form#date-form {
          margin-right: 24px; }
        .mdl-layout__content #first-row .mdl-card > form#date-form .mdl-textfield, .mdl-layout__content #first-row .mdl-card > form#end-form .mdl-textfield {
          position: relative; }
          .mdl-layout__content #first-row .mdl-card > form#date-form .mdl-textfield .mdl-textfield__input, .mdl-layout__content #first-row .mdl-card > form#end-form .mdl-textfield .mdl-textfield__input {
            cursor: pointer; }
          .mdl-layout__content #first-row .mdl-card > form#date-form .mdl-textfield .mdl-button, .mdl-layout__content #first-row .mdl-card > form#end-form .mdl-textfield .mdl-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 4px;
            height: 28px;
            width: 28px;
            min-width: 28px;
            color: #00a7e9; }
        .mdl-layout__content #first-row .mdl-card > form#date-form #dp-ul, .mdl-layout__content #first-row .mdl-card > form#end-form #dp-ul {
          z-index: 10000; }
      .mdl-layout__content #first-row .mdl-card .text {
        margin-right: 24px;
        vertical-align: middle;
        align-items: center; }
      .mdl-layout__content #first-row .mdl-card .btn {
        background: #00a7e9;
        color: white;
        font-size: 18px;
        width: unset;
        border-radius: 2px; }
        .mdl-layout__content #first-row .mdl-card .btn span {
          padding: 0 36px; }
          .mdl-layout__content #first-row .mdl-card .btn span i {
            margin-right: .5em; }
  .mdl-layout__content #second-row {
    display: flex;
    width: 100%;
    margin-top: 72px;
    justify-content: center; }
    .mdl-layout__content #second-row .msg-group {
      display: none; }
      .mdl-layout__content #second-row .msg-group h1 {
        font-size: 160px;
        color: #00a7e9;
        text-align: center;
        margin-bottom: 32px; }
      .mdl-layout__content #second-row .msg-group p {
        text-align: center;
        font-size: 18px;
        color: #00a7e9; }
    .mdl-layout__content #second-row #card-group {
      width: 100%; }
      .mdl-layout__content #second-row #card-group #card-group-in {
        display: flex;
        flex-wrap: wrap;
        padding: 0 24px 72px 24px;
        width: 100%;
        justify-content: center; }
        .mdl-layout__content #second-row #card-group #card-group-in .item {
          flex-direction: column;
          align-items: center;
          width: 300px;
          margin: 16px;
          z-index: 0;
          cursor: pointer; }
          .mdl-layout__content #second-row #card-group #card-group-in .item.is-hovered {
            color: rgba(0, 0, 0, 0.54); }
          .mdl-layout__content #second-row #card-group #card-group-in .item.dummy {
            visibility: hidden; }
          .mdl-layout__content #second-row #card-group #card-group-in .item .station-logo {
            height: 52px;
            width: 100%;
            text-align: center; }
            .mdl-layout__content #second-row #card-group #card-group-in .item .station-logo img {
              height: 100%;
              width: auto; }
          .mdl-layout__content #second-row #card-group #card-group-in .item .prg-logo {
            width: 100%;
            height: auto;
            display: block; }
          .mdl-layout__content #second-row #card-group #card-group-in .item .details {
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: center; }
            .mdl-layout__content #second-row #card-group #card-group-in .item .details .prg-title {
              margin-bottom: 16px; }
            .mdl-layout__content #second-row #card-group #card-group-in .item .details .prg-time {
              font-size: 16px; }
              .mdl-layout__content #second-row #card-group #card-group-in .item .details .prg-time span {
                padding-right: 1em;
                font-size: 1.4rem; }
            .mdl-layout__content #second-row #card-group #card-group-in .item .details .prg-pfm {
              font-size: 14px;
              line-height: 22px; }
      .mdl-layout__content #second-row #card-group #bottom-spinner {
        width: 100%;
        justify-content: center;
        height: 72px;
        display: none; }
