a, button {
  outline: 0; }

.mdl-dialog {
  width: 780px;
  height: 80%;
  padding: 0; }
  .mdl-dialog > div {
    padding: 36px;
    width: 100%;
    height: 100%;
    overflow-y: auto; }
    .mdl-dialog > div::-webkit-scrollbar {
      width: 5px; }
    .mdl-dialog > div::-webkit-scrollbar-track {
      background-color: #e2f4f9;
      border-radius: 5px; }
    .mdl-dialog > div::-webkit-scrollbar-thumb {
      background-color: #00a7e9;
      border-radius: 5px; }
    .mdl-dialog > div::-webkit-scrollbar-corner {
      background-color: #e2f4f9; }
    .mdl-dialog > div .header {
      display: flex;
      margin-left: 16px; }
      .mdl-dialog > div .header .title {
        font-size: 2.2em;
        flex-grow: 100;
        height: 48px;
        vertical-align: middle;
        margin: 0; }
    .mdl-dialog > div .cont-top {
      margin: 24px;
      display: flex; }
      .mdl-dialog > div .cont-top > div {
        width: 320px; }
        .mdl-dialog > div .cont-top > div.right-box {
          margin-left: 56px; }
        .mdl-dialog > div .cont-top > div .prg-logo {
          height: 200px;
          width: 320px;
          background-color: #e2f4f9; }
        .mdl-dialog > div .cont-top > div .btn-wrapper {
          width: 300px;
          margin: 24px 0;
          height: 52px;
          background: #f2f2f2;
          display: flex;
          justify-content: center;
          align-items: center; }
          .mdl-dialog > div .cont-top > div .btn-wrapper button {
            display: none;
            width: 100%;
            height: 100%;
            color: white;
            padding: 0 36px;
            vertical-align: middle;
            text-align: center;
            font-size: 20px;
            background-color: #00a7e9; }
            .mdl-dialog > div .cont-top > div .btn-wrapper button i {
              margin-right: 1em; }
          .mdl-dialog > div .cont-top > div .btn-wrapper .error-msg {
            display: none;
            width: 100%;
            height: 100%;
            padding: 0 16px;
            vertical-align: middle;
            font-size: 18px;
            color: #00a7e9; }
        .mdl-dialog > div .cont-top > div > div {
          color: rgba(0, 0, 0, 0.87);
          padding-top: 1rem; }
          .mdl-dialog > div .cont-top > div > div > p {
            font-size: 16px;
            line-height: 22px; }
    .mdl-dialog > div .cont-middle {
      padding: 32px 16px 0 16px; }
      .mdl-dialog > div .cont-middle > div {
        padding-bottom: 24px; }
        .mdl-dialog > div .cont-middle > div a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.87); }
          .mdl-dialog > div .cont-middle > div a:hover {
            color: #00a7e9; }
  .mdl-dialog .cancel-btn {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 6px;
    right: 11px;
    background-color: #00a7e9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer; }
  .mdl-dialog .ui-helper-hidden-accessible {
    display: none; }

a, button {
  outline: 0; }

.mdl-dialog {
  width: 780px;
  height: 80%;
  padding: 0; }
  .mdl-dialog > div {
    padding: 36px;
    width: 100%;
    height: 100%;
    overflow-y: auto; }
    .mdl-dialog > div::-webkit-scrollbar {
      width: 5px; }
    .mdl-dialog > div::-webkit-scrollbar-track {
      background-color: #e2f4f9;
      border-radius: 5px; }
    .mdl-dialog > div::-webkit-scrollbar-thumb {
      background-color: #00a7e9;
      border-radius: 5px; }
    .mdl-dialog > div::-webkit-scrollbar-corner {
      background-color: #e2f4f9; }
    .mdl-dialog > div .header {
      display: flex;
      margin-left: 16px; }
      .mdl-dialog > div .header .title {
        font-size: 2.2em;
        flex-grow: 100;
        height: 48px;
        vertical-align: middle;
        margin: 0; }
    .mdl-dialog > div .cont-top {
      margin: 24px;
      display: flex; }
      .mdl-dialog > div .cont-top > div {
        width: 320px; }
        .mdl-dialog > div .cont-top > div.right-box {
          margin-left: 56px; }
        .mdl-dialog > div .cont-top > div .prg-logo {
          height: 200px;
          width: 320px;
          background-color: #e2f4f9; }
        .mdl-dialog > div .cont-top > div .btn-wrapper {
          width: 300px;
          margin: 24px 0;
          height: 52px;
          background: #f2f2f2;
          display: flex;
          justify-content: center;
          align-items: center; }
          .mdl-dialog > div .cont-top > div .btn-wrapper button {
            display: none;
            width: 100%;
            height: 100%;
            color: white;
            padding: 0 36px;
            vertical-align: middle;
            text-align: center;
            font-size: 20px;
            background-color: #00a7e9; }
            .mdl-dialog > div .cont-top > div .btn-wrapper button i {
              margin-right: 1em; }
          .mdl-dialog > div .cont-top > div .btn-wrapper .error-msg {
            display: none;
            width: 100%;
            height: 100%;
            padding: 0 16px;
            vertical-align: middle;
            font-size: 18px;
            color: #00a7e9; }
        .mdl-dialog > div .cont-top > div > div {
          color: rgba(0, 0, 0, 0.87);
          padding-top: 1rem; }
          .mdl-dialog > div .cont-top > div > div > p {
            font-size: 16px;
            line-height: 22px; }
    .mdl-dialog > div .cont-middle {
      padding: 32px 16px 0 16px; }
      .mdl-dialog > div .cont-middle > div {
        padding-bottom: 24px; }
        .mdl-dialog > div .cont-middle > div a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.87); }
          .mdl-dialog > div .cont-middle > div a:hover {
            color: #00a7e9; }
  .mdl-dialog .cancel-btn {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 6px;
    right: 11px;
    background-color: #00a7e9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer; }
  .mdl-dialog .ui-helper-hidden-accessible {
    display: none; }

.title-bar {
  display: none;
  width: 100%;
  height: 24px;
  padding: 0 4px;
  background-color: #0085ba; }
  .title-bar > div {
    float: right;
    height: 100%;
    width: fit-content;
    padding: 5px;
    float: right;
    display: flex; }
    .title-bar > div:hover {
      background-color: #003245; }
    .title-bar > div > img {
      height: 100%;
      width: auto;
      background-color: inherit; }

.mdl-layout__header {
  background-color: #00a7e9; }
  .mdl-layout__header .mdl-layout__drawer-button {
    outline: 0; }

.mdl-layout__drawer {
  background: #00a7e9;
  border-right: 1px solid #00a0df; }
  .mdl-layout__drawer header {
    height: 151px; }
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    opacity: .87;
    padding: 16px 40px;
    vertical-align: middle; }
    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link i {
      font-size: 16px;
      margin-right: 24px; }
    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
      background: white;
      color: #00a7e9; }
    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link.current {
      cursor: default; }

button {
  outline: 0; }

.mdl-layout__header .mdl-layout__header-row #btn-date, .mdl-layout__header .mdl-layout__header-row #radio-menu {
  margin-left: 8px; }
  .mdl-layout__header .mdl-layout__header-row #btn-date:hover, .mdl-layout__header .mdl-layout__header-row #radio-menu:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  .mdl-layout__header .mdl-layout__header-row #btn-date .material-icons :hover, .mdl-layout__header .mdl-layout__header-row #radio-menu .material-icons :hover {
    background: unset; }

.mdl-layout__header .mdl-layout__header-row #dl-status {
  margin-left: 8px;
  height: 32px;
  width: 32px;
  background: #e73c64;
  display: none;
  position: relative;
  cursor: pointer; }
  .mdl-layout__header .mdl-layout__header-row #dl-status span {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.mdl-layout__header .mdl-layout__header-row #search-btn {
  padding: 16px 0;
  position: relative; }
  .mdl-layout__header .mdl-layout__header-row #search-btn .mdl-button:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  .mdl-layout__header .mdl-layout__header-row #search-btn .mdl-button .material-icons :hover {
    background: unset; }
  .mdl-layout__header .mdl-layout__header-row #search-btn #suggest-drop-down {
    position: absolute;
    z-index: 100;
    left: 32px;
    display: none;
    width: 178px;
    min-height: unset;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #f2f2f2; }
    .mdl-layout__header .mdl-layout__header-row #search-btn #suggest-drop-down > div {
      color: rgba(0, 0, 0, 0.87);
      font-size: 14px;
      width: 100%;
      vertical-align: middle;
      text-align: left;
      line-height: 28px;
      padding: 0 14px;
      cursor: pointer; }
      .mdl-layout__header .mdl-layout__header-row #search-btn #suggest-drop-down > div:hover {
        background: white; }
      .mdl-layout__header .mdl-layout__header-row #search-btn #suggest-drop-down > div.key-focused {
        background: white; }

.mdl-layout__header .mdl-layout__header-row .mdl-layout-title img {
  display: none; }

.mdl-layout__tab-bar {
  background-color: #e2f4f9; }

.mdl-layout__tab-bar-container {
  overflow-y: hidden;
  overflow-x: visible; }
  .mdl-layout__tab-bar-container #header-2nd-row {
    width: unset;
    padding-left: 129px; }
    .mdl-layout__tab-bar-container #header-2nd-row .mdl-layout__tab {
      width: 258px;
      display: none;
      color: #00a7e9;
      font-size: 24px;
      text-decoration: none; }
      .mdl-layout__tab-bar-container #header-2nd-row .mdl-layout__tab.holiday {
        color: #e73c64; }
      .mdl-layout__tab-bar-container #header-2nd-row .mdl-layout__tab img {
        height: 48px;
        width: auto; }
  .mdl-layout__tab-bar-container .mdl-layout__tab-bar-button {
    display: none; }

.mdl-layout__content {
  overflow: auto; }
  .mdl-layout__content::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  .mdl-layout__content::-webkit-scrollbar-track {
    background-color: #e2f4f9;
    border-radius: 8px; }
  .mdl-layout__content::-webkit-scrollbar-thumb {
    background-color: #00a7e9;
    border-radius: 8px; }
  .mdl-layout__content.shown-spinner {
    display: flex;
    justify-content: center;
    align-items: center; }
    .mdl-layout__content.shown-spinner .mdl-spinner {
      display: block; }
  .mdl-layout__content .mdl-spinner {
    display: none; }
  .mdl-layout__content #mix-table {
    display: none;
    width: fit-content; }
    .mdl-layout__content #mix-table #header-table-out, .mdl-layout__content #mix-table #footer-table-out {
      height: 72px;
      background-color: #e2f4f9;
      position: relative;
      cursor: pointer; }
      .mdl-layout__content #mix-table #header-table-out > span, .mdl-layout__content #mix-table #footer-table-out > span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: #00a7e9; }
        .mdl-layout__content #mix-table #header-table-out > span > i, .mdl-layout__content #mix-table #footer-table-out > span > i {
          margin: 0 1em; }
    .mdl-layout__content #mix-table #footer-table-out {
      display: none; }
    .mdl-layout__content #mix-table #grid {
      display: grid; }
      .mdl-layout__content #mix-table #grid .cell {
        width: 100%;
        min-height: 258px;
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        position: relative; }
        .mdl-layout__content #mix-table #grid .cell[row="1"] {
          background-color: rgba(54, 185, 201, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="2"] {
          background-color: rgba(76, 183, 179, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="3"] {
          background-color: rgba(118, 200, 172, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="4"] {
          background-color: rgba(155, 220, 159, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="5"] {
          background-color: rgba(162, 210, 100, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="6"] {
          background-color: rgba(174, 200, 73, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="7"] {
          background-color: rgba(189, 202, 75, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="8"] {
          background-color: rgba(204, 185, 51, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="9"] {
          background-color: rgba(204, 166, 51, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="10"] {
          background-color: rgba(204, 145, 51, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="11"] {
          background-color: rgba(204, 118, 51, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="12"] {
          background-color: rgba(206, 104, 76, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="13"] {
          background-color: rgba(192, 87, 67, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="14"] {
          background-color: rgba(157, 84, 95, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="15"] {
          background-color: rgba(122, 47, 105, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="16"] {
          background-color: rgba(97, 59, 142, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="17"] {
          background-color: rgba(102, 119, 153, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="18"] {
          background-color: rgba(59, 51, 204, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="19"] {
          background-color: rgba(43, 49, 172, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="20"] {
          background-color: rgba(42, 35, 142, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="21"] {
          background-color: rgba(32, 28, 112, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="22"] {
          background-color: rgba(43, 47, 90, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="23"] {
          background-color: rgba(38, 37, 64, 0.27); }
        .mdl-layout__content #mix-table #grid .cell[row="24"] {
          background-color: rgba(24, 23, 29, 0.27); }
        .mdl-layout__content #mix-table #grid .cell .time {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          color: rgba(0, 0, 0, 0.54);
          font-size: 48px; }
        .mdl-layout__content #mix-table #grid .cell .prg-card-w {
          padding: 4px 8px;
          min-height: unset;
          flex-direction: column;
          width: 100%;
          margin: 4px 0;
          height: unset;
          text-transform: none;
          will-change: unset;
          min-width: unset;
          letter-spacing: unset;
          transition: unset;
          line-height: unset;
          border-radius: .25rem; }
          .mdl-layout__content #mix-table #grid .cell .prg-card-w.cant-dl, .mdl-layout__content #mix-table #grid .cell .prg-card-w.pre-start {
            background: rgba(253, 253, 253, 0.3);
            box-shadow: none !important; }
            .mdl-layout__content #mix-table #grid .cell .prg-card-w.cant-dl .prg-title, .mdl-layout__content #mix-table #grid .cell .prg-card-w.pre-start .prg-title {
              color: rgba(0, 0, 0, 0.54); }
          .mdl-layout__content #mix-table #grid .cell .prg-card-w.mdl-button:hover {
            background-color: #fdfdfd; }
          .mdl-layout__content #mix-table #grid .cell .prg-card-w.mouseover {
            background-color: #fdfdfd; }
          .mdl-layout__content #mix-table #grid .cell .prg-card-w .top {
            padding: 0 16px;
            flex-grow: 100;
            max-height: 48px; }
          .mdl-layout__content #mix-table #grid .cell .prg-card-w .mdl-list__item {
            height: unset;
            min-height: unset;
            padding: 4px 8px 0 16px;
            cursor: inherit; }
            .mdl-layout__content #mix-table #grid .cell .prg-card-w .mdl-list__item .mdl-list__item-primary-content {
              height: unset; }
              .mdl-layout__content #mix-table #grid .cell .prg-card-w .mdl-list__item .mdl-list__item-primary-content .prg-title {
                padding-bottom: 4px;
                font-size: 15px;
                letter-spacing: 0; }
            .mdl-layout__content #mix-table #grid .cell .prg-card-w .mdl-list__item .mdl-list__item-secondary-action {
              height: unset; }
          .mdl-layout__content #mix-table #grid .cell .prg-card-w .bottom {
            padding: 0 16px;
            flex-grow: 100; }
          .mdl-layout__content #mix-table #grid .cell .prg-card-w .info_group {
            display: none; }
