@import "../../scss/common";

.mdl-layout__header{
  background-color: $primaryBlue;
  #btn-date, #radio-menu{
    @include buttonInterval;
    @include whitenHover;
  }
  #search-btn {
    padding: 16px 0;
    .mdl-button {
      @include whitenHover;
    }
  }
}

.mdl-layout__tab-bar {
  background-color: $secondaryBlue;
}

.mdl-layout__drawer {
  background: $primaryBlue;
  border-right: 1px solid darken($primaryBlue, 2%);
  header {
    height: 151px;
  }
  .mdl-navigation {
    .mdl-navigation__link {
      color: white;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0;
      opacity: .87;
      padding: 16px 40px;
      vertical-align: middle;
      i {
        font-size: 16px;
        margin-right: 24px;
      }
      &:hover {
        background: white;
        color: $primaryBlue;
      }
    }
  }
}

.mdl-layout__tab-bar-container {
  overflow-y: hidden;
  overflow-x: visible;
  #header-2nd-row {
    width: unset;
    padding-left: $columnWidth/2;
    .mdl-layout__tab {
      width: $columnWidth; //28pxはMDL準拠
      img {
        height: 40px;
        width: auto;
      }
    }
  }
  .mdl-layout__tab-bar-button {
    display: none;
  }
}

.mdl-layout__content {
  overflow: auto; //これで、スクロールバーを消せばOKのはず
  #mix-table {
    width: fit-content;
    #header-table-out, #footer-table-out{
      height: 72px;
      background-color: $secondaryBlue;
      position: relative;
      >span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: $primaryBlue;
        //leftはJS側で動的にセットする
        > i {
          margin: 0 1em;
        }
      }
    }
    #grid {
      display: grid;
      .cell {
        width: 100%;
        min-height: $columnWidth;
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        position: relative;

        $alpha:0.27;
        $dest:40%;

        &[row="1"]{background-color:desaturate(rgba(#03e1fc,$alpha), $dest);}
        &[row="2"]{background-color:desaturate(rgba(#1ae9e2,$alpha), $dest);}
        &[row="3"]{background-color:desaturate(rgba(#50eeb9,$alpha), $dest);}
        &[row="4"]{background-color:desaturate(rgba(#80f788,$alpha), $dest);}
        &[row="5"]{background-color:desaturate(rgba(#a7fa3c,$alpha), $dest);}
        &[row="6"]{background-color:desaturate(rgba(#cbf71a,$alpha), $dest);}
        &[row="7"]{background-color:desaturate(rgba(#e2f91c,$alpha), $dest);}
        &[row="8"]{background-color:desaturate(rgba(#ffe000,$alpha), $dest);}
        &[row="9"]{background-color:desaturate(rgba(#ffbf00,$alpha), $dest);}
        &[row="10"]{background-color:desaturate(rgba(#ff9d00,$alpha), $dest);}
        &[row="11"]{background-color:desaturate(rgba(#ff7000,$alpha), $dest);}
        &[row="12"]{background-color:desaturate(rgba(#fc4e1e,$alpha), $dest);}
        &[row="13"]{background-color:desaturate(rgba(#f23411,$alpha), $dest);}
        &[row="14"]{background-color:desaturate(rgba(#cd243c,$alpha), $dest);}
        &[row="15"]{background-color:desaturate(rgba(#9c0d7c,$alpha), $dest);}
        &[row="16"]{background-color:desaturate(rgba(#5e13b6,$alpha), $dest);}
        &[row="17"]{background-color:desaturate(rgba(#3366cc,$alpha), $dest);}
        &[row="18"]{background-color:desaturate(rgba(#0e00ff,$alpha), $dest);}
        &[row="19"]{background-color:desaturate(rgba(#000ad7,$alpha), $dest);}
        &[row="20"]{background-color:desaturate(rgba(#0b00b1,$alpha), $dest);}
        &[row="21"]{background-color:desaturate(rgba(#06008c,$alpha), $dest);}
        &[row="22"]{background-color:desaturate(rgba(#101975,$alpha), $dest);}
        &[row="23"]{background-color:desaturate(rgba(#131154,$alpha), $dest);}
        &[row="24"]{background-color:desaturate(rgba(#0f0d27,$alpha), $dest);}


        .time {
          @include centerAbs;
          color: $textGray;
          font-size: 48px;
        }
        .prg-card-w {
          $space: 4px 8px;
          padding: $space;
          min-height: unset;
          $spaceInnerCard: 16px;
          flex-direction: column;
          width: 100%;
          margin: 4px 0;
          height: unset;
          text-transform: none;
          will-change: unset;
          min-width: unset;
          letter-spacing: unset;
          transition: unset;
          line-height: unset;
          border-radius: .25rem;

          &.mdl-button:hover {
            background-color: rgb(253,253,253);
          }

          &.mouseover {
            background-color: rgb(253,253,253);
          }

          //height: $oneHourHeight - 8px;

          //.program-card {
          //  min-height: unset;
          //  width: 100%;
          //  height: 100%;
          //  $spaceInnerCard: 16px;
          //  display: flex;
          //  flex-direction: column;
            .top {
              padding: 0 16px;
              flex-grow: 100;
              max-height: 48px;
            }
            .mdl-list__item {
              height: unset;
              min-height: unset;
              padding: 4px 8px 0 16px;
              cursor: inherit;
              .mdl-list__item-primary-content {
                height: unset;
                .prg-title {
                  padding-bottom: 4px;
                  font-size: 15px;
                  letter-spacing: 0;
                }
              }
              .mdl-list__item-secondary-action {
                height: unset;
                //.prg-title {
                //  color: $textBlack;
                //  line-height: 20px;
                //}
                //.mdl-list__item-sub-title {
                //  font-size: 14px;
                //  color: $textBlack;
                //  line-height: 18px;
                //  margin: 0 $spaceInnerCard 8px $spaceInnerCard;
                //}
                //.prg-cast {
                //  margin: 0 $spaceInnerCard $spaceInnerCard $spaceInnerCard;
                //  font-size: 14px;
                //  color: $textGray;
                //  line-height: 18px;
                //  overflow: hidden;
                //  text-overflow: ellipsis;
                //  flex-shrink: 100;
                //}
              }
            }
            .bottom {
              padding: 0 16px;
              flex-grow: 100;
            }
            //.mdl-card__actions {
            //  display: flex;
            //  justify-content: right;
            //  padding: 2px;
            //  .mdl-button {
            //    $btnSize: 24px;
            //    height: $btnSize;
            //    width: $btnSize;
            //    min-width: $btnSize;
            //    @include buttonInterval;
            //  }
            //}
          //}
        }
      }
    }
    > div {
      //table {
      //  display: none;
      //  border: none;
      //  border-spacing: 0;
      //  border-collapse: collapse;
      //  padding: 0;
      //  thead {
      //    .left-top {
      //      height: 48px;//tab-rowの高さ準拠(MDL)
      //    }
      //  }
      //  tr {
      //    th {
      //      padding: 0;
      //      > div {
      //        width: $columnWidth/4;
      //        margin-right: $columnWidth/4;
      //        text-align: center;
      //        vertical-align: center;
      //      }
      //    }
      //    td {
      //      padding: 0;
      //      height: 100%;
      //      >.cell-in {
      //        width: $columnWidth;
      //        min-height: $columnWidth;
      //        height: 100%;
      //        display: flex;
      //        flex-direction: column;
      //        .prg-card-w {
      //          $space: 4px 8px;
      //          padding: $space;
      //          //height: $oneHourHeight - 8px;
      //          flex-grow: 0;
      //          .program-card {
      //            min-height: unset;
      //            width: 100%;
      //            height: 100%;
      //            $spaceInnerCard: 16px;
      //            display: flex;
      //            flex-direction: column;
      //            .prg-title {
      //              color: $textBlack;
      //              margin: $spaceInnerCard $spaceInnerCard 4px $spaceInnerCard;
      //              line-height: 20px;
      //            }
      //            .prg-time {
      //              font-size: 14px;
      //              color: $textBlack;
      //              line-height: 18px;
      //              margin: 0 $spaceInnerCard 8px $spaceInnerCard;
      //            }
      //            .prg-cast {
      //              margin: 0 $spaceInnerCard $spaceInnerCard $spaceInnerCard;
      //              font-size: 14px;
      //              color: $textGray;
      //              line-height: 18px;
      //              overflow: hidden;
      //              text-overflow: ellipsis;
      //              flex-shrink: 100;
      //            }
      //            .mdl-card__actions {
      //              display: flex;
      //              justify-content: right;
      //              .mdl-button {
      //                @include buttonInterval;
      //              }
      //            }
      //          }
      //        }
      //      }
      //    }
      //  }
      //}
      //> div {
      //  position: relative;
      //  .column-head {
      //    width: $columnWidth/4;
      //    margin-right: $columnWidth/4;
      //    position: fixed;
      //    background: white;
      //    z-index: 2;//MDLのCardはz-index=1
      //    overflow-y: auto;
      //    .cell {
      //      width: $columnWidth/4;
      //      height: $oneHourHeight;
      //      display: flex;
      //      justify-content: center;
      //      align-items: center;
      //      span {
      //
      //      }
      //    }
      //  }
      //  .page-content {
      //    position: absolute;
      //    left: $columnWidth/2;
      //    display: flex;
      //    .column {
      //      flex-grow: 1;
      //      min-width: $columnWidth;
      //      height: 24 * $oneHourHeight;
      //      display: flex;
      //      flex-direction: column;
      //      padding-top: $oneHourHeight/2;
      //      .prg-card-w {
      //        $space:4px 8px;
      //        padding: $space;
      //        //height: $oneHourHeight - 8px;
      //        flex-grow: 0;
      //
      //        .program-card {
      //          min-height: unset;
      //          width: 100%;
      //          height: 100%;
      //          $spaceInnerCard:16px;
      //          display: flex;
      //          flex-direction: column;
      //          .prg-title {
      //            color: $textBlack;
      //            margin: $spaceInnerCard $spaceInnerCard 4px $spaceInnerCard;
      //            line-height: 20px;
      //          }
      //          .prg-time {
      //            font-size: 14px;
      //            color: $textBlack;
      //            line-height: 18px;
      //            margin: 0 $spaceInnerCard 8px $spaceInnerCard;
      //          }
      //          .prg-cast {
      //            margin: 0 $spaceInnerCard $spaceInnerCard $spaceInnerCard;
      //            font-size: 14px;
      //            color: $textGray;
      //            line-height: 18px;
      //            overflow: hidden;
      //            text-overflow: ellipsis;
      //            flex-shrink: 100;
      //          }
      //          .mdl-card__actions {
      //            display: flex;
      //            justify-content: right;
      //            .mdl-button {
      //              @include buttonInterval;
      //            }
      //          }
      //        }
      //      }
      //    }
      //  }
      //}
    }
  }
}